<!-- BEGIN custom_fields -->
	<!-- IF custom_fields.PROFILE_FIELD_IDENT eq 'phpbb_xfire' -->
		<div class="panel bg1">
			<div class="inner">
				<h3>{L_XFIRE}</h3>
				<div class="postbody">
					<div class="xfire standalone"><a href="http://www.xfire.com/profile/{XFIRE}"><img src="http://miniprofile.xfire.com/bg/{XFIRE_STYLE}/type/0/{XFIRE}.png" width="440" height="111" alt="" /></a><br /><div style="font-size: 1em;"><a href="xfire:add_friend?user={XFIRE}">{L_ADD_XFIRE_USER}</a> | <a href="http://www.xfire.com/">{L_DOWNLOAD_XFIRE}</a></div></div>
				</div>
			<span class="clear"></span></div>
		</div>
	<!-- ENDIF -->
<!-- END custom_fields -->