/* bidi.css */
/* Former imageset */
.rtl .imageset.icon_contact_xfire {
	padding-right: 20px;
	padding-left: 0;
}

/* buttons.css */
/* Profile & navigation icons */
.xfire-icon, .xfire-icon a			{ background: none top left no-repeat; }
/* Set profile icon dimensions */
ul.profile-icons li.xfire-icon	{ width: 20px; height: 20px; }

/* colours.css */
.xfire a, .xfire a:visited, .xfire a:hover, .xfire a:active {
	background-color: transparent;
}
/* Profile & navigation icons */
.xfire-icon, .xfire-icon a			{ background-image: url("./images/icon_contact_xfire.gif"); }

/* imageset.css */
/* Global imageset items */
.imageset.icon_contact_xfire {
	background-image: url("./images/icon_contact_xfire.gif");
	padding-left: 20px;
	padding-top: 20px;
}