	<!-- BEGIN custom_fields -->
		<!-- IF custom_fields.PROFILE_FIELD_IDENT eq 'phpbb_xfire' -->
			<tr>
				<td class="cat" colspan="2" align="center"><h4>{L_XFIRE}</h4></td>
			</tr>
			<tr>
				<td class="row1" colspan="2">
					<div class="postbody">
						<div class="xfire" style="border-top: none; margin-top: 0;"><a href="http://www.xfire.com/profile/{custom_fields.PROFILE_FIELD_VALUE}"><img src="http://miniprofile.xfire.com/bg/{XFIRE_STYLE}/type/0/{custom_fields.PROFILE_FIELD_VALUE}.png" width="440" height="111" alt="" /></a><br /><div style="font-size: 1em;"><a href="xfire:add_friend?user={custom_fields.PROFILE_FIELD_VALUE}">{L_ADD_XFIRE_USER}</a> &bull; <a href="http://www.xfire.com/">{L_DOWNLOAD_XFIRE}</a></div></div>
					</div>
				</td>
			</tr>
		<!-- ENDIF -->
	<!-- END custom_fields -->